<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/timeline.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/bootstrap-switch.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/highlight.css" rel="stylesheet"/>

    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-switch.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/highlight.js"></script>
</head>
<script>

    function tiaozheng(){
        document.getElementById("ck1").checked=true
        a='11111'
    }
</script>
<body onload="tiaozheng()">
<button onclick="tiaozheng()">sdf </button>
<div class="switch switch-large">
    <input type="checkbox" checked />
</div>
<div class="switch">
    <input type="checkbox" checked />
</div>

<div class="switch switch-small">
    <input type="checkbox" checked />
</div>

<div class="switch switch-mini">
    <input type="checkbox" checked />
</div>
<input id="ck1" type="checkbox">
<input type="text" value="JavaScript:a'">
    <div class="row">
        <input class="col-xs-6 list-group-item" style="height:35px" id="ck" name="data" type="TEXT" onclick="tiaozheng()"/>
    </div>
<div class="container">
    <div class="page-header">
        <h2>XXX项目<small>using Bootstrap's </small></h2>
    </div>
    <!-- /Page header -->

    <!-- Timeline -->
    <div class="timeline">

        <!-- Line component -->
        <div class="line text-muted"></div>

        <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>
            <div class="panel-body">
                <a  href="#" onclick="www.baidu.com">dfsdfds</a>
                <tr>1111</tr>
                <br>
                <tr>1111</tr>
                <br>
                <tr>1111</tr>
                <br>
                <tr>1111</tr><tr>1111</tr>
                <br>
                <tr>1111</tr>
                <tr><th>111</th><th>222</th><th>333</th></tr>
                <p>
                    <input id="switch-state" type="checkbox" data-size="mini" checked>
                </p>
                <p>
                    <input id="switch-state" type="checkbox" checked>
                </p>
                <p>
                    <input id="switch-state" type="checkbox" checked>
                </p>

                That is all.
                <input type="checkbox" name="my-checkbox" checked>
                <div class="switch switch-large">
                    <input type="checkbox" checked />
                </div>

                <div class="switch">
                    <input type="checkbox" checked />
                </div>

                <div class="switch switch-small">
                    <input type="checkbox" checked />
                </div>

                <div class="switch switch-mini">
                    <input type="checkbox" checked />
                </div>
            </div>
        </article>
        <!-- /Separator -->

        <!-- Panel -->
        <article class="panel panel-danger panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-heart"></i>
            </div>
            <!-- /Icon -->

            <!-- Body -->
            <div class="panel-body">
                <strong>Someone</strong> favourited your photo.
            </div>
            <!-- /Body -->

        </article>

        <!-- /Panel -->

        <!-- Panel -->
        <article class="panel panel-default panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-picture"></i>
            </div>
            <!-- /Icon -->

            <!-- Body -->
            <div class="panel-body">
                <img class="img-responsive img-rounded" src="//placehold.it/350x150" />
            </div>
            <!-- /Body -->

        </article>
        <!-- /Panel -->

        <!-- Panel -->
        <article class="panel panel-primary">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->

            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">New content added</h2>
            </div>
            <!-- /Heading -->

            <!-- Body -->
            <div class="panel-body">
                Some new content has been added.
            </div>
            <!-- /Body -->

            <!-- Footer -->
            <div class="panel-footer">
                <small>Footer is also supported!</small>
            </div>
            <!-- /Footer -->

        </article>
        <!-- /Panel -->

        <!-- Separator -->
        <div class="separator text-muted">
            <time>25. 3. 2015</time>
        </div>
        <!-- /Separator -->

        <!-- Panel -->
        <article class="panel panel-success">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <!-- /Icon -->

            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">New content added</h2>
            </div>
            <!-- /Heading -->

            <!-- Body -->
            <div class="panel-body">
                Anything you can do with <code>.panel</code>, can be done in timeline too!
            </div>
            <!-- /Body -->

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Like</li>
                <li class="list-group-item">list</li>
                <li class="list-group-item">groups</li>
                <li class="list-group-item">and</li>
                <li class="list-group-item">tables</li>
            </ul>

        </article>
        <!-- /Panel -->

        <!-- Panel -->
        <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </div>
            <div class="panel-body">
                That is all.
            </div>
        </article>
    </div>
</div>
</div>
</body>
</html>