$def with(str,workflowid)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>项目进度控制系统</title>
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/fromtoright.css" rel="stylesheet">

    <script type="text/javascript" src="../static//js/jquery.min.js"></script>
    <script type="text/javascript" src="../static//js/select2.full.js"></script>
    <script type="text/javascript" src="../static//js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static//js/prettify.min.js"></script>

    <link href="../static//css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../static//css/select2.min.css" type="text/css" rel="stylesheet" />

    <link href="../static//css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="../static//css/prettify.css" type="text/css" rel="stylesheet" />
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<script type="text/javascript">
    function FillContents() {
        document.getElementById("bz").value = 'add';
        document.getElementById("workflowid").value = '$workflowid';
        workflowid
    }
</script>
<body onload="FillContents()">
<div class="container" >
    <div class="row">
        <form method="post" action="addstep"  class="col-md-9 go-right">
            <input id="bz" type="text" name="data"  hidden></a>
            <div class="form-group">
                <input class="form-control"  style="height:40px" type="date" name="data" value="" class="input-xlarge" required>
                <label for="name">日期</label>
            </div>
            <div class="form-group" data-role="select" data-multiple="true" data-placeholder="请选择转发人" >
                <select class="js-example-basic-multiple js-states form-control" multiple="multiple" name="option">
                    $:str
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" style="height:150px" name="data" placeholder="备注" required></textarea>
             </div>
            <input id="workflowid" type="text" name="data"  hidden></a>
            <input type="submit" value="提交">
        </form>
    </div>
</div>

</body>
</html>