$def with(str,workflowid)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<title>项目进度控制系统</title>-->
    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/select2.full.js"></script>
    <!--<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../static/js/prettify.min.js"></script>


    <link href="../static/css/fromtoright.css" type="text/css" rel="stylesheet">
    <!--<link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet" />-->
    <link href="../static/css/select2.min.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/prettify.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/external/jquery.mousewheel.min.js"></script>
    <link type="text/css" href="http://cdn.jtsage.com/datebox/1.4.5/jqm-datebox-1.4.5.css" rel="stylesheet" />
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/1.4.5/jqm-datebox-1.4.5.core.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/1.4.5/jqm-datebox-1.4.5.mode.datebox.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/i18n/jquery.mobile.datebox.i18n.zh-CN.utf8.min.js"></script>

    <!--<link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>-->

    <style>
        body{
            padding-top: 80px;
        }
    </style>
</head>
<script type="text/javascript">
    jQuery.extend(jQuery.mobile, { ajaxEnabled: false });
</script>
<script type="text/javascript">
    $('js-example-basic-multiple').select2();
</script>
<script type="text/javascript">
    function disable_btn(){
        document.getElementById("workflowid").value = '$workflowid';
        document.getElementById("submit_id").disabled = 'true';
        document.getElementById("form_id").submit();
    }
    function FillContents(){
        var today = new Date();
        var year=today.getFullYear().toString()
        var month=(today.getMonth()+1).toString()
        var day=today.getDate().toString()
        if (month.length==1){
            month='0'+month
        }
        if (day.length==1){
            day='0'+day
        }
        document.getElementById("lang2").value = year+'-'+month+'-'+day
    }
</script>
<body onload="FillContents()">

<div class="container">
    <form id="form_id" method="post" action="addworkflow">
        <div data-role="page" id="main">
            <div class="ui-content" role="main">
                <input class="form-control" type="text" name="data" value=""  class="input-xlarge" pattern=".*" placeholder="项目名称" required>
                <div class="ui-field-contain">
                    <input name="data" type="text" data-role="datebox" data-options='{"mode": "datebox", "useLang":"zh-CN"}' id="lang2" />
                </div>
                <div class="form-group" data-role="select" data-multiple="true" data-placeholder="请选择转发人" >
                    <select class="js-example-basic-multiple js-states form-control" multiple="multiple" name="option">
                        $:str
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="data" placeholder="详细内容" required></textarea>
                </div>
                <div hidden="true">
                    <input id="workflowid" type="text" name="data" hidden>
                </div>

                <input id="" class="btn-danger" type="submit" value="提交" onclick="disable_btn()">
            </div>
        </div>
    </form>
</div>


</body>
</html>