<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/timeline.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/bootstrap-switch.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/highlight.css" rel="stylesheet"/>

    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-switch.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/highlight.js"></script>
</head>
<script>
    function ooo(p) {
        alert(document.getElementById("aaa").checked)
        document.getElementById("bbb").value ="asdf";
    }
</script>
<body>


<div class="switch switch-large">
        <input id="aaa" type="checkbox" onchange="ooo('1')"/>
        <input id="bbb" type="text"/>
        <button onclick="" style="text-decoration:underline">aaa</button>
        <a href="#" style="text-decoration:underline">asfdsf</a>
    </div>
</body>
</html>