$def with(str,choicepotion,workflowid,workflowtreeid,date,details)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<title>项目进度控制系统</title>-->
    <!--<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>-->
    <!--<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../static/js/select2.full.js"></script>
    <!--<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="../static/js/prettify.min.js"></script>

    <!--<link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>-->
    <link href="../static/css/fromtoright.css" type="text/css" rel="stylesheet">
    <!--<link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet" />-->
    <link href="../static/css/select2.min.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/prettify.css" type="text/css" rel="stylesheet" />


    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/external/jquery.mousewheel.min.js"></script>
    <link type="text/css" href="http://cdn.jtsage.com/datebox/1.4.5/jqm-datebox-1.4.5.css" rel="stylesheet" />
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/1.4.5/jqm-datebox-1.4.5.core.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/1.4.5/jqm-datebox-1.4.5.mode.datebox.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.min.js"></script>
    <script type="text/javascript" src="http://cdn.jtsage.com/datebox/i18n/jquery.mobile.datebox.i18n.zh-CN.utf8.min.js"></script>
    <style>
        body{
            padding-top: 100px;
        }
    </style>
</head>
<script type="text/javascript">
    function FillContents() {
        document.getElementById("workflowtreeid").value = '$workflowtreeid';
        document.getElementById("workflowid").value = '$workflowid';
        document.getElementById("lang2").value = '$date';
        document.getElementById("bz").value = 'change';
//        var d2= decodeURIComponent(window.atob('$details'))
        document.getElementById("details").value = decodeURIComponent('$details');
//        document.getElementById("details").click();
//        window.event.keyCode=13;
    }
</script>
<script type="text/javascript">
    jQuery.extend(jQuery.mobile, { ajaxEnabled: false });
</script>
<body onload="FillContents()">
<div class="container" >
    <form id="form_id" method="post" action="changestep">
        <div data-role="page" id="main">
            <div class="ui-content" role="main">
               <div hidden="true">
                    <input id="bz" type="text" name="data"></a>
                </div>

                <div class="ui-field-contain">
                    <input name="data" type="text" data-role="datebox" data-options='{"mode": "datebox", "useLang":"zh-CN"}' id="lang2" />
                </div>
                <div $:choicepotion>
                    <div class="form-group" data-role="select" data-multiple="true" data-placeholder="请选择转发人" >
                        <select class="js-example-basic-multiple js-states form-control" multiple="multiple" name="option">
                            $:str
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <textarea id="details" class="aaa" name="data" placeholder="详细内容" required autofocus></textarea>
                </div>
                <div hidden="true">
                    <input id="workflowid" type="text" name="data">
                </div>
                <div hidden="true">
                    <input id="workflowtreeid" type="text" name="data">
                </div>
                <input type="submit" value="提交"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
