$def with(str,workflowid,workflowname,hidden,state,submit)
<!DOCTYPE html>
<html>
<head lang="zh-mns-Hans">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>$workflowname</title>
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/timeline.css" rel="stylesheet"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
    <div class="timeline">
        <div class="line text-muted"></div>
	    <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
            <a href="#" onclick="parent.location='/checkworkflow'"><h4>返回项目列表<br></h4></a>
        </article>
        <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-pencil"></i>
            </div>
            <a href="#" onclick="parent.location='/addsteppage?workflowid=$workflowid'"><h4>新增项目进展<br></h4></a>
        </article>
        <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-share-alt"></i>
            </div>
            <a href="#" onclick="parent.location='/addsubworkflow?workflowid=$workflowid'"><h4>新增分支项目<br><br></bz></BZ></h4></a>
        </article>

        $for line in str:
            <article class="panel panel-default" style="margin: 10px 0px 0px 30px;">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#$line[1]"><h5>$line[1]</h5></a>
                    </div>

                <div id="$line[1]" class="panel-collapse collapse $line[2]">
                    $for data in line[0]:
                        <li class="list-group-item">
                            <pre>$:data[1]</pre>
                            <small>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left" >$data[2] $data[0]</div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">$:data[3]</div>
                                </div>
                            </small>
                        </li>
                </div>
            </article>
    </div>
    <h3 class="text-center">
        <button type="button" class="btn btn-default navbar-btn $hidden" data-toggle="modal" data-target="#myModal">
            <i class="glyphicon glyphicon-remove"></i> 终止项目
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>
                            <div class="modal-header">
                                项目终止确认
                            </div>

                            <div class="modal-body text-left" >
                                项目《$workflowname》$:submit
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">取消</button>
                                $if (submit=='将被终止？'):
                                    <button type="button" class="btn btn-danger btn-lg" onclick="parent.location='/clostworkflow?workflowid=$workflowid'">确认</button>
                            </div>
                        </h4>
                    </div>

                </div>
            </div>
        </div>


    </h3>
</div>
</body>
</html>
