$def with(str,workflowid,workflowname)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>项目进度控制系统</title>
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/timeline.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/bootstrap-switch.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/highlight.css" rel="stylesheet"/>
    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-switch.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/highlight.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h3>$workflowname</h3>
    </div>
    <div class="timeline">
        <div class="line text-muted"></div>
        <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>
            <a href="#" onclick="parent.location='/checkworkflow'"><h4>返回上一级<br></h4></a>
        </article>
        <article class="panel panel-info panel-outline">
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
            <a href="#" onclick="parent.location='/addsteppage?workflowid=$workflowid'"><h4>增加内容<br></h4></a>
        </article>
        <article class="panel panel-info panel-outline">
            $for data in str:
                <div class="panel-body container">
                    <small>$data[0]</small>
                        <blockquote>
                            <p>$data[1]</p>
                            <footer>$data[2] $:data[3]</footer>
                        </blockquote>
                </div>
        </article>
    </div>
</div>
</body>
</html>
